<!DOCTYPE html>
<br />
<div class="group">
  <div class="section code">
    <h1>
      This is our apiary.
      An apiary is a group of beehives.
      Apiary is being designed to to give
      everyone better tools to do their jobs.
    </h1>
    <img src="../../assets/2hives2bee.png" style="width:100px"/>
  </div>
  <div class="aside code">
    <h4>
      Just like the honey bees, our
      apriary project will group all our
      internal process under one platform
      to help accelerate and control the
      development and use of our technology
      while maintaining the same user experience.
    </h4>
  </div>
  <br />
  <br />
  <div class="aside code">
    <h4>
      Due to the significant investment of
      time and resources, <b><i>customized IT programs
      and processes can no longer be supported</i></b>.
    </h4>
  </div>
  <div class="aside code">
    <h4>
      Please transition your requests for support to Apiary.
    </h4>
    <img src="../../assets/2hives2bee.png" style="width:33%" />
    <img src="../../assets/BeeNCircle.png" style="width:33%" />
    <img src="../../assets/2hives2bee.png" style="width:33%" />
  </div>
  <div class="aside code">
    <h4>
      Direct questions to your "bee keepers" Bethany & Troy
    </h4>
    <img src="../../assets/BeekeeperMask.png" style="width:50%" />
    <img src="../../assets/BeekeeperBoy.png" style="width:50%" />
  </div>
</div>
