<!DOCTYPE html>

<div class="topbar forms" *ngFor="let forms of authForms">
  <div class="list">
    <div *ngIf="forms.AdvanceAmount != 0 && forms.TotalReimburse == 0">
      <button class="btn secondary" (mouseover)="hover=true" (mouseleave)="hover=false"
              (click)="displaySelected(forms)">
        <h5>{{forms.LastName}} : Advance</h5>
      </button>
    </div>
    <div *ngIf="forms.TotalReimburse != 0">
      <button class="btn secondary" (mouseover)="hover=true" (mouseleave)="hover=false"
              (click)="displaySelected(forms)">
        <h5>{{forms.LastName}} : Recap</h5>
      </button>
    </div>

  </div>
</div>

<br />
<div *ngIf="!formsList" class="overview">
  <h5>You currently have no active forms to approve</h5>
</div>

<div *ngIf="formsList">
  <!-- Displayes overview of the selected Auth form -->
  <div *ngIf="advance" [ngStyle]="{'display':displayAdvance}" class="overview">
    <h4 style="text-align:center">{{form.FirstName}} {{form.LastName}} : {{form.Location}}</h4>
    <h6>Email: <b><i>{{form.Email}}</i></b></h6>
    <h6>Event Title:<b> <i>{{form.EventTitle}}</i> </b></h6>
    <h6>Dates: <b><i>{{form.TravelBegin}}</i></b> to <b><i>{{form.TravelEnd}}</i></b></h6>
    <br />
    <table class="table">
      <tbody>
        <tr>
          <th>
            <h6><b>Registration Cost</b></h6>
          </th>
          <th><h6>{{form.RegistrationCost}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Airfare</b></h6>
          </th>
          <th><h6>{{form.Airfare}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Rental car</b></h6>
          </th>
          <th><h6>{{form.RentalCar}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Fuel</b></h6>
          </th>
          <th><h6>{{form.Fuel}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Parking and tolls</b></h6>
          </th>
          <th><h6>{{form.ParkingTolls}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Mileage cap</b></h6>
          </th>
          <th><h6>{{form.Mileage}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Lodging</b></h6>
          </th>
          <th><h6>{{form.Lodging}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Meals and incidentals</b></h6>
          </th>
          <th><h6>{{food}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Misc</b></h6>
          </th>
          <th><h6>{{form.Misc}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Misc explination</b></h6>
          </th>
          <th><h6>{{form.MiscExplain}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Total estimate of trip</b></h6>
          </th>
          <th><h6>{{form.TotalEstimate}}</h6></th>
        </tr>
        <tr>
          <th>
            <h6><b>Advance requested</b></h6>
          </th>
          <th><h6>{{form.AdvanceAmount}}</h6></th>
        </tr>
      </tbody>
    </table>
    <button class="btn bg-info" style="background:green" (click)="approveAdvance()">Approve</button>
    <button class="btn bg-warning" style="background:red" (click)="denyAdvance()">Deny</button>
    <input [ngStyle]="{'border-color':miscBorder}" type="text" id="misc"
           ngbTooltip="Explanation for denial" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Explanation for denial" [(ngModel)]="denyExplain" required />
  </div>

  <!-- Displays recap information in a table -->
  <div *ngIf="recap" [ngStyle]="{'display':displayRecap}" style="border:solid 5px; max-width:80%;
      min-width:50%; background-color:white;padding:5%;border-radius: 25px; margin-left:50px">
    <h2 style="text-align:center">{{form.FirstName}} {{form.LastName}} : {{form.Location}}</h2>
    <h5>Email: <b><i>{{form.Email}}</i></b></h5>
    <h5>Event Title:<b> <i>{{form.EventTitle}}</i> </b></h5>
    <h5>Location:<b> <i>{{form.Location}}</i></b></h5>
    <h5>Travel Start Date: <b><i>{{form.TravelBegin}}</i></b></h5>
    <h5>Travel End Date:<b> <i>{{form.TravelEnd}}</i></b></h5>
    <table class="table">
      <thead>
        <tr>
          <th><h5></h5></th>
          <th><h5>Info From Advance</h5></th>
          <th><h5>Recap Form</h5></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <h5>
              <b>Registration Cost</b>
            </h5>
            <h8>Company paid: <input type="checkbox" [(ngModel)]="registrationComp" (change)="checkTot()" /></h8>
          </th>
          <th><h5>{{form.RegistrationCost}}</h5></th>
          <th>
            <h5>{{form.RecapRegistrationCost}}</h5>
          </th>
        </tr>
        <tr>
          <th>
            <h5><b>Airfare</b></h5>
            <h8>Company paid: <input type="checkbox" [(ngModel)]="airfareComp" (change)="checkTot()" /></h8>
          </th>
          <th><h5>{{form.Airfare}}</h5></th>
          <th><h5>{{form.RecapAirfare}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Rental Car</b></h5></th>
          <th><h5>{{form.RentalCar}}</h5></th>
          <th><h5>{{form.RecapRentalCar}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Miles Driven</b></h5></th>
          <th><h5>{{form.Mileage}}</h5></th>
          <th><h5>{{form.RecapMileage}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Parking and Tolls</b></h5></th>
          <th><h5>{{form.ParkingTolls}}</h5></th>
          <th><h5>{{form.RecapParkingTolls}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Fuel</b></h5></th>
          <th><h5>{{form.Fuel}}</h5></th>
          <th><h5>{{form.RecapFuel}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Lodging</b></h5></th>
          <th><h5>{{form.Lodging}}</h5></th>
          <th><h5>{{form.RecapLodging}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Per Diem</b></h5></th>
          <th><h5>{{form.PerDiem}}</h5></th>
          <th><h5>{{form.RecapPerDiem}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Full Days of Travel</b></h5></th>
          <th><h5>{{form.FullDays}}</h5></th>
          <th><h5>{{form.RecapFullDays}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Miscellaneous</b></h5></th>
          <th><h5>{{form.Misc}}</h5></th>
          <th><h5>{{form.RecapMisc}}</h5></th>
        </tr>
        <tr>
          <th><h5><b>Miscellaneous explination</b></h5></th>
          <th><h5></h5></th>
          <th><h5>{{form.MiscExplain}}</h5></th>
        </tr>
        <tr>
          <th><h6><b>Total</b></h6></th>
          <th><h6>{{form.TotalEstimate}}</h6></th>
          <th><h6>{{form.TotalRecap}}</h6></th>
        </tr>
        <tr>
          <th><h6><b>Advance Taken</b></h6></th>
          <th><h6></h6></th>
          <th><h6>{{form.AdvanceAmount}}</h6></th>
        </tr>
        <tr>
          <th><h5><b>Total for Reimbursement</b></h5></th>
          <th><h5></h5></th>
          <th><h5>{{form.TotalReimburse}}</h5></th>
        </tr>
      </tbody>
    </table>
    <button type="submit" (click)="approveRecap()">Approve</button>
  </div>
</div>
