@import url('https://fonts.googleapis.com/css?family=PT+Sans');
// Changing the theme colors
// background color set in styles.scss

$primary: #492600; // dark brown
$secondary: #e49a14; // yellow-orange
$success: #ffd101; // yellow
$info: #8ba26f; // light green
$warning: #AC1E23;
$danger: #ff457b;
$light: #9db5b2; // light blue
$dark: #18181d;

/*$primary: #4b2904; // dark brown
$secondary: #5e93c5; // light blue
$success: #efee3e; // yellow
$info: #3f38d3; // royal blue
$warning: #AC1E23;
$danger: #ff457b;
$light: #b0943b;
$dark: #937540;
  */
/*$primary: #2f5a22; // dark green
$secondary: #619f4a; // light green
$success: #ffd101; // gold
$info: #4375d6; // blue
$warning: #ff8601; // orange
$danger: #ff457b;
$light: #b0943b;
$dark: #937540;*/

/*
original vera colors
$primary: #183440;
$secondary: #7F9EAD;
$success: #02A89C;
$info: #ABADAF;
$warning: #AC1E23;
$danger: #ff457b;
$light: #f2d4ff;
$dark: #18181d;*/
