<?xml version="1.0"?>


<configuration>
    <system.webServer>
        <rewrite>
            <rules>
              <rule name="AngularJS Conditions" stopProcessing="true">
                <match url="(app/.*|assets/.*|config/.*|.*/index.html/.*)" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                <action type="None" />
              </rule>

              <rule name="Angular Index" stopProcessing="true">
                <match url=".*/index.html/" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                <action type="Rewrite" url="./index.html" />
              </rule>
              
              <rule name="Angular Routes" stopProcessing="true">
                <match url="*.*" />
                <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="./index.html" />
              </rule>
              
              <rule name="redirect all reqi=uests" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="false"/>
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" pattern="" ignoreCase="false" />
                </conditions>
                <action type="Rewrite" url="./index.html" appendQueryString="true" />
              </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
