<!DOCTYPE html>
<body>
  <!-- travel nevigation -->
  <div class="topbar" style="text-align:center;margin-left:50px;">
    <button class="btn bg-primary" [routerLink]="['authform']"  (click)="displayAuth()">
      New Travel Authorization
    </button>

    <button class="btn bg-primary" [routerLink]="['activeAuth']" (click)="displayAllAuth()" [authForms]="authForms">
      Active Authorization Forms
    </button>

    <button *ngIf="approver;" class="btn bg-primary" [routerLink]="['approveAuth']" (click)="displayApproveAuth()" [authForms]="authForms">
      Approve Authorization Forms
    </button>

  </div>

  <!-- display of button selected from the nav -->
  <div [ngStyle]="{'display':authDisplay}">
    <app-travel-auth></app-travel-auth>
  </div>

  <div [ngStyle]="{'display':allAuthDisplay}">
    <app-view-auth-forms [authForms]="authForms"></app-view-auth-forms>
  </div>

  <div [ngStyle]="{'display':approveAuthDisplay}">
    <app-tavel-auth-approve [authForms]="authForms"></app-tavel-auth-approve>
  </div>

</body>
