<!DOCTYPE html>
<body>
  <!-- travel nevigation -->
  <div class="topbar" style="text-align:center;margin-left:50px;">
    <button class="btn bg-primary" [routerLink]="['authform']" (click)="displayAuth()">
      New Travel Authorization
    </button>

    <button class="btn bg-primary" [routerLink]="['activeAuth']" (click)="displayAllAuth()" [authForms]="authForms">
      Active Authorization Forms
    </button>

    <button *ngIf="approver;" class="btn bg-primary" [routerLink]="['approveAuth']" (click)="displayApproveAuth()" [authForms]="authForms">
      Approve Authorization Forms
    </button>

    <button *ngIf="finance;" class="btn bg-primary" [routerLink]="['financeAuth']" (click)="displayFinanceAuth()" [authForms]="authForms">
      Forms for Finance
    </button>
  </div>

  <!-- display of button selected from the nav -->
  <div [ngStyle]="{'display':authDisplay}">
    <app-travel-auth></app-travel-auth>
  </div>

  <div [ngStyle]="{'display':allAuthDisplay}">
    <app-view-auth-forms [formsList]="formsList" [authForms]="authForms"></app-view-auth-forms>
  </div>

  <div [ngStyle]="{'display':approveAuthDisplay}">
    <app-tavel-auth-approve [formsList]="formsList" [authForms]="authForms"></app-tavel-auth-approve>
  </div>

  <div [ngStyle]="{'display':financeAuthDisplay}">
    <app-view-travel-finance [formsList]="formsList" [authForms]="authForms"></app-view-travel-finance>
  </div>
</body>
