@import '../theme.scss';

.main{
  margin-left:55px;
}
input {
  max-width : 75%;
  align-content:center;
  text-align:center;
  margin-top:5px;
  margin-left:12.5%;
}
.wrapper {
  max-width:50%;
  margin-top:20%;
  margin-left:25%;
}
.h1 {
  text-align:center;
  color:$primary;
}
