<div style="margin:auto">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">VERA</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="id01" href="#" ngbDropdownToggle>Files</a>
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item">HTML</a>
            <a class="dropdown-item">TS</a>
            <a class="dropdown-item">JS</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <br />
  <br />

  <!-- drop down -->
  <div>
    <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
            data-target="#collapseExample" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
      Basic dropdown
    </button>

    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="divider dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>

  <br />
  <br />

  <!-- icons -->
  <div>
    <button type="button" class="btn btn-primary" (click)="isIconCollapsed = !isIconCollapsed"
            data-target="#collapseIconExample" [attr.aria-expanded]="!isIconCollapsed"
            aria-controls="collapseIconExample">
      <span class="fa fa-bars" aria-hidden="true"></span>
    </button>
    <div id="collapseIconExample" [ngbCollapse]="isIconCollapsed">
      <div class="card">
        <div>
          <button class="btn btn-secondary">
            <i class="fa fa-cloud" aria-hidden="true"></i>
          </button>
        </div>
        <div>
          <button class="btn btn-info">
            <i class="fa fa-print" aria-hidden="true"></i>
          </button>
        </div>
        <div>
          <button class="btn btn-success">
            <span class="fa fa-gear" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <!-- side slide -->
  <!-- SideNav slide-out button -->
  <div class="wrapper">
    <button type="button" class="btn btn-primary" (click)="toggle()"
            data-target="#sidebar" 
            aria-controls="sidebar">
      <i class="glyphicon glyphicon-align-left"></i>
      Toggle Sidebar
    </button>
    <div id="sidebar" [ngStyle]="{'display':isSidebarCollapse}">
      <nav >
        <!-- Sidebar Header -->
        <div class="sidebar-header">
          <h4>Collapsible Sidebar</h4>
          <button class="close" (click)="toggle()"><i class="fa fa-window-close"></i></button>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li>
            <!-- Link with dropdown items -->
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
            </ul>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>



  </div>
  <!--/. Sidebar navigation -->
</div>


