<!-- nav bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">Drop Down Menu</p>
    </div>
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'in': isIn }">
      <ul class="nav navbar-nav">
        <li><a>Link 1</a></li>
        <li><a>Link 2</a></li>
      </ul>
    </div>
  </div>
</nav>

<br />
<!-- toggle -->
<div>
  <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
          data-target="#collapseExample" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
    Toggle Menu
  </button>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div>
        <button class="btn btn-secondary">
          color option1
        </button>
      </div>
      <div>
        <button class="btn btn-info">
          color option2
        </button>
      </div>
      <div>
        <button class="btn btn-success">
          color option3
        </button>
      </div>
    </div>
  </div>
</div>

<br />
<!-- icons -->
<div>
  <button type="button" class="btn btn-primary" (click)="isIconCollapsed = !isIconCollapsed"
          data-target="#collapseIconExample" [attr.aria-expanded]="!isIconCollapsed"
          aria-controls="collapseIconExample">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  </button>
  <div id="collapseIconExample" [ngbCollapse]="isIconCollapsed">
    <div class="card">
      <div>
        <button class="btn btn-secondary">
          <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        </button>
      </div>
      <div>
        <button class="btn btn-info">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        </button>
      </div>
      <div>
        <button class="btn btn-success">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

