<!DOCTYPE html>
<!-- Log in screen -->
<div style="text-align:center;margin-left:50px;">
  <h1 class="h1">
    <img src="../assets/SingleBee.png" style="width:60px;height:auto;" />
    <b>Welcome to the Apiary Project </b>
    <img src="../assets/BeeNCircle.png" style="width:60px;height:auto" />
  </h1>
</div>

<div *ngIf="!authenticated">
  
    <span *ngIf="!authenticated" (click)="login()">
      <button>Login</button>
    </span>
  
</div>

<div *ngIf="authenticated">
  <!-- display the nav bar -->
  <app-nav [nav]="user.nav"></app-nav>
  <!-- router output -->
  <div class="d-flex flex-wrap main">
    <router-outlet [user]="user"></router-outlet>
  </div>
</div>




