<!DOCTYPE html>
<body>
  <!-- travel nevigation -->
  <div class="topbar" style="text-align:left;margin-left:50px;">
    <button class="btn bg-primary" [routerLink]="['meters']" (click)="displayAllMeters()">
      All Meters
    </button>

    <button class="btn bg-primary" [routerLink]="['meterReports']" (click)="displayMeterReports()" >
      Reports
    </button>

  </div>

  <!-- display of button selected from the nav -->
  <div [ngStyle]="{'display':metersDisplay}">
    <app-meters></app-meters>
  </div>

  <div [ngStyle]="{'display':reportsDisplay}">
    <app-meters-reports ></app-meters-reports>
  </div>

  
</body>
