@import '../../theme.scss';
tbody button {
  color:blue;
}
.table{
  text-align:center;
}
.secondary {
  background-color: $success;
  color: $primary;
}
.link{
  color:$secondary;
  background-color:white;
  border-color:white;
}
