@import '../../theme.scss';

a {
  color: $secondary;
  text-decoration: none;
}

.mylist {
  text-align: center;
  align-content: center;
  position: relative;
  display: flex;
}

.btn {
  text-transform: lowercase;
  text-transform: capitalize;
  color: $success;
}
