<!DOCTYPE html>
<!-- displays list of forms -->
<div class="topbar forms" *ngFor="let forms of authForms">
  <div >
    <button type="button" class="btn secondary" [ngStyle]="{'border-color':forms.String8}"
            (click)="displaySelected(forms)" >
      <h5>{{forms.EventTitle}}</h5>
    </button>
  </div>
</div>

<br />

<!-- Displayes overview of the selected Auth form -->
<div [ngStyle]="{'display':displayForm}" class="overview">
  <h2 style="text-align:center">{{form.FirstName}} {{form.LastName}} : {{form.EventTitle}}</h2>
  <h5>Name: <b><i>{{form.FirstName}} {{form.LastName}}</i></b></h5>
  <h5>Event title:<b> <i>{{form.EventTitle}}</i> </b></h5>
  <h5>Location:<b> <i>{{form.Location}}</i></b></h5>
  <h5>Type of transportation:<b> <i>{{transType}}</i></b></h5>
  <h5>Travel start date: <b><i>{{form.TravelBegin}}</i></b></h5>
  <h5>Travel end date:<b> <i>{{form.TravelEnd}}</i></b></h5>
  <!-- Cost breakdown of the trip -->
  <h5>Estimated registration cost:<b> <i>{{form.RegistrationCost}}</i></b></h5>
  <h5>Estimated airfare:<b> <i>{{form.Airfare}}</i></b></h5>
  <h5>Estimated rental car:<b> <i>{{form.RentalCar}}</i></b></h5>
  <h5>Estimated fuel:<b> <i>{{form.Fuel}}</i></b></h5>
  <h5>Estimated parking and tolls:<b> <i>{{form.ParkingTolls}}</i></b></h5>
  <h5>Estimated mileage:<b> <i>{{mileage}}</i></b></h5>
  <h5>Estimated lodging:<b> <i>{{form.Lodging}}</i></b></h5>
  <h5>Estimated food:<b> <i>{{food}}</i></b></h5>
  <h5>Estimated misc:<b> <i>{{form.Misc}}</i></b></h5>

  <h5>Total estimate of trip:<b> <i>{{form.TotalEstimate}}</i></b></h5>

  <button class="bg-info sup" (click)="submitApproveStatus()" *ngIf="!submitted">Approve</button>
  <button class="bg-warning sup" (click)="submitDenyStatus()" *ngIf="!submitted">Deny</button>
</div>



