<!DOCTYPE html>

<div class="topbar forms" *ngFor="let forms of authForms">
  <div>
    <button type="button" class="btn secondary" [ngStyle]="{'border-color':forms.String8}"
            ng-mouseover="style={'background-color':'{{forms.String8}}'}"
            (click)="displaySelected(forms)">
      <h5>{{forms.String4}}</h5>
    </button>
  </div>
</div>

<br />

<!-- Displayes overview of the selected Auth form -->
<div [ngStyle]="{'display':displayForm}" class="overview">
  <h2 style="text-align:center">{{form.String4}} : {{form.String5}}</h2>
  <h5>First Name: <b><i>{{form.String1}}</i></b></h5>
  <h5>Last Name: <b><i>{{form.String2}}</i></b></h5>
  <h5>Phone: <b><i>{{form.Int1}}</i></b></h5>
  <h5>Email: <b><i>{{form.String3}}</i></b></h5>
  <h5>Event Title:<b> <i>{{form.String4}}</i> </b></h5>
  <h5>Location:<b> <i>{{form.String5}}</i></b></h5>
  <h5>Travel Start Date: <b><i>{{form.Date1}}</i></b></h5>
  <h5>Travel End Date:<b> <i>{{form.Date2}}</i></b></h5>
  <h5>Total Estimate of Trip:<b> <i>{{form.Decimal12}}</i></b></h5>
  <h5>Advance Taken: <b><i>{{form.Decimal13}}</i></b></h5>

  <button class="bg-info sup">Approve</button>
  <button class="bg-warning sup">Deny</button>
</div>



