@import '../../../theme.scss';

div {
  display: inline-flex;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-transform: lowercase;
  text-transform: capitalize;
  align-content:center;
  text-align:center;
}

.sup {
  border: 2px solid black;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.secondary {
  border-color: $success;
  color: $primary;
}

.secondary:hover {
  color: $primary;
}

.forms {
  margin-left: 25px;
  align-content: center;
}

.overview {
  border: solid 5px;
  min-width: 50vw;
  max-width:80vw;
  background-color: white;
  padding: 5%;
  border-radius: 25px;
  margin-left: 12%;
  align-content: center;
  word-wrap: break-word;
}

b {
  padding-left: 5%;
  word-wrap: break-word;
}

