<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<div class="form-control wrapper">
  <h1>Traveler Authorization Form</h1>


  <h2>Traveler Information</h2>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="name">Name</label>
    <input [ngStyle]="{'border-color':nameBorder}" type="text" id="name" class="form-control mr-sm-2 mb-2 mb-sm-0" [(ngModel)]="form.Name"
           placeholder="Name*" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="phone">Personal Phone Number</label>
    <input [ngStyle]="{'border-color':phoneBorder}" type="tel" id="phone" class="form-control mr-sm-2 mb-2 mb-sm-0" [(ngModel)]="form.Phone"
           placeholder="Personal Phone Number*" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="email">Email</label>

    <input type="email" id="email" class="form-control mr-sm-2 mb-2 mb-sm-0" [(ngModel)]="form.Email"
           placeholder="Email"/>
  </h6>


  <h2>Event Information</h2>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="eventTitle">Event Title</label>
    <input [ngStyle]="{'border-color':eventTitleBorder}" type="text" id="eventTitle" class="form-control mr-sm-2 mb-2 mb-sm-0"
           [(ngModel)]="form.EventTitle" placeholder="Event Title*" required/>
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="eventLocation">Event Location</label>
    <input [ngStyle]="{'border-color':eventLocBorder}" type="text" id="eventLocation" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Event Location*" [(ngModel)]="form.Location" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 " for="startDate">Travel Start Date*</label>
    <input [ngStyle]="{'border-color':travelStartBorder}" type="Date" id="startDate" class="form-control mr-sm-2 mb-2 mb-sm-0"
            [(ngModel)]="form.TravelBegin" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 " for="endDate">Travel End Date*</label>
    <input [ngStyle]="{'border-color':travelEndBorder}" type="Date" id="endDate" class="form-control mr-sm-2 mb-2 mb-sm-0"
           [(ngModel)]="form.TravelEnd" required/>
  </h6>
  <h6 class="form-check form-check-inline" [ngStyle]="{'color':distVehColor}">
    Are you driving a district vehicle*:
  </h6>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions"
           id="inlineRadio1" value="true" [(ngModel)]="form.DistVehicle">
    <label class="form-check-label" for="inlineRadio1">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions"
           id="inlineRadio2" value="false" [(ngModel)]="form.DistVehicle">
    <label class="form-check-label" for="inlineRadio2">No</label>
  </div>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="vehicle">District Vehicle Number</label>
    <input type="number" id="vehicle" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="District Vehicle Number" [(ngModel)]="form.DistVehicleNum" />
  </h6>


  <h2>Estimated costs</h2>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="registration">Registration Cost</label>
    <input [ngStyle]="{'border-color':registrationBorder}" type="number" id="registration" (change)="checkTot()" class="form-control mr-sm-2 mb-2 mb-sm-0"
            placeholder="Registration Cost*" [(ngModel)]="form.RegistrationCost" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="airfare">Airfare Cost</label>
    <input [ngStyle]="{'border-color':airfareBorder}" type="number" id="airfare" (change)="checkTot()" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Airfare Cost*" [(ngModel)]="form.Airfare" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="rental">Rental Car Cost</label>
    <input [ngStyle]="{'border-color':rentalBorder}" type="number" id="rental" (change)="checkTot()" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Rental Car Cost*" [(ngModel)]="form.RentalCar" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="fuel">Fuel and Parking Cost</label>
    <input [ngStyle]="{'border-color':fuelBorder}" type="number" id="fuel" (change)="checkTot()" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Fuel and Parking Cost*" [(ngModel)]="form.FuelParking" required/>
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="mileage">Mileage</label>
    <input [ngStyle]="{'border-color':mileageBorder}" type="number" id="mileage" (change)="checkTot()" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Mileage*" [(ngModel)]="form.Mileage" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="lodging">Lodging</label>
    <input [ngStyle]="{'border-color':lodgingBorder}" type="number" id="lodging" (change)="checkTot()" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Lodging*" [(ngModel)]="form.Lodging" required/>
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="lodging">Per Diem*</label>
    <a href="https://www.gsa.gov/" target="_blank" placement="right" ngbTooltip="Find your city to find the Per Diem">Per Diem:*</a>
    <input [ngStyle]="{'border-color':perDiemBorder}" required type="number" (change)="checkTot()"
           class="form-control" [(ngModel)]="form.PerDiem"  placeholder="Food allowence for each day"/>
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="travelDays">Number of full days traveling:</label>
    <input [ngStyle]="{'border-color':daysBorder}" type="number" id="travelDays" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Number of full days traveling*" [(ngModel)]="form.FullDays" required />
  </h6>
  <h6>
    <label class="mr-sm-2 mb-0 sr-only" for="misc">Miscellaneous:</label>
    <input [ngStyle]="{'border-color':miscBorder}" type="number" id="misc" (change)="checkTot()" class="form-control mr-sm-2 mb-2 mb-sm-0"
           placeholder="Miscellaneous*" [(ngModel)]="form.Misc" required />
  </h6>

  <h6><b>Total Estimate: ${{total}}</b></h6>
  <br />

  <h6 class="form-check form-check-inline" [ngStyle]="{'color':advanceColor}">
    Are you requesting a travel advance*:
  </h6>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="Advance"
           id="inlineRadio3" value="true" [(ngModel)]="form.Advance">
    <label class="form-check-label" for="inlineRadio3">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="Advance"
           id="inlineRadio4" value="false" [(ngModel)]="form.Advance">
    <label class="form-check-label" for="inlineRadio4">No</label>
  </div>
  <br />
  <h6 class="form-check form-check-inline" [ngStyle]="{'color':policyColor}">
    Have you read and do you understand the 
    <a href="https://verawaterandpower.sharepoint.com/PolicyDocs/Forms/AllItems.aspx?id=%2FPolicyDocs%2FPolicy%20No%2E%20200%20-%20Personnel%2Epdf&parent=%2FPolicyDocs"
            target="_blank"> District Travel Policy</a>*:
  </h6>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="Policy"
           id="inlineRadio5" value="true" [(ngModel)]="form.Policy">
    <label class="form-check-label" for="inlineRadio5">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="Policy"
           id="inlineRadio6" value="false" [(ngModel)]="form.Policy">
    <label class="form-check-label" for="inlineRadio6">No</label>
  </div>
  <br />

  <input type="submit" (click)="submitForm()">
</div>
<br />


