@import '../../../theme.scss';
.wrapper {
  max-width: 75vw;
  height: auto;
  margin: auto;
}
h3, h2, h5, button {
  text-align: center;
}
a {
  color:$light;
}
.radio {
  min-width:15px;
  max-width:15px;
}
input {
  border:double;
  border-width:2px;
}

