@import '../../theme.scss';

.wrapper {
  //display: flex;
}

.sidebar {
  min-width: 50px;
  max-width: 100px;
  height: 100vh;
  background-color: $primary;
  position: fixed;
  top: 0px;
  left: 0vw;
  opacity:0.95;

}

img{
  width:35px;
  height:auto;

}

.sidebar-header {
  display: flex;
}
a{
  text-decoration:none;
  color:$primary;
}

i {
  margin-top: -4.5px;
}

.nav li {
  position: relative;
  display: block;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
}

nav li:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 15px solid $success;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  position: absolute;
  top: -15px;
  left: 0;
}

nav li {
  margin-top: 30px;
  width: 52px;
  height: 30px;
  background-color: $success;
  position: relative;
  text-align: center;
}

nav li:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-top: 15px solid $success;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
}

