@import '../../theme.scss';

.wrapper {
  //display: flex;
}

.sidebar {
  min-width: 50px;
  max-width: 100px;
  height: 100vh;
  background-color: $primary;
  position: fixed;
  top: 0px;
  left: 0vw;
  opacity:0.75;
}

button{
  opacity:2;
}

.wrapper button {
  margin: auto;
}

.sidebar-header {
  display: flex;
}
a{
  text-decoration:none;
  color:$primary;
}
