<!-- icon side menu with use of routing -->
<div class="sidebar">
  <div>
    <a class="btn bg-success mr-2" placement="right" ngbTooltip="Home" routerLink="">
        <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    
  </div>
  <div>
    
      <a routerLink="./travel" class="btn bg-success mr-2"  placement="right" ngbTooltip="Travel">
        <i class="fa fa-plane" aria-hidden="true"></i>
      </a>
    
  </div>
  <div>
    <a class="btn bg-success mr-2"  placement="right" ngbTooltip="TBD">
      <i class="fa fa-print" aria-hidden="true"></i>
    </a>
  </div>
  <div>
    <a class="btn bg-success mr-2"  placement="right" ngbTooltip="TBD">
      <span class="fa fa-gear" aria-hidden="true"></span>
    </a>
  </div>
</div>




