<!-- icons -->
<div class="sidebar">
  <div>
    <button class="btn bg-success mr-2" placement="right" ngbTooltip="Home">
      <a routerLink="">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
    </button>
  </div>
  <div>
    <button class="btn bg-success mr-2"  placement="right" ngbTooltip="Travel">
      <a routerLink="./travel">
        <i class="fa fa-plane" aria-hidden="true"></i>
      </a>
    </button>
  </div>
  <div>
    <button class="btn bg-success mr-2"  placement="right" ngbTooltip="TBD">
      <i class="fa fa-print" aria-hidden="true"></i>
    </button>
  </div>
  <div>
    <button class="btn bg-success mr-2"  placement="right" ngbTooltip="TBD">
      <span class="fa fa-gear" aria-hidden="true"></span>
    </button>
  </div>
</div>




